@import "./variables.scss";
@import "./keyframes.scss";
@import "./fonts.scss";
@import "./pages/accueil.scss";
@import "./pages/menu.scss";


//Ici tout le code global //
img{
    max-width: 100%;
}
p{
    font-size: 16px;
}
body{
    font-family: 'Roboto', sans-serif;
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
}
a{
    text-decoration: none;
    color: white;
}