.home {
    header {
        display: grid;
    }

    .logo {
        text-align: center;

        img {
            width: 150px;
            margin-top: 20px;

            @media screen and (min-width:768px) {
                width: 250px;

            }

            @media screen and (min-width:1024px) {
                width: 350px;
            }
        }

    }

    .recherche {
        width: 100%;
        justify-content: center;
        display: flex;
        background-color: #EAEAEA;
    }

    .fas.fa-map-marker-alt {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 20px;
    }

    h1 {
        text-align: center;
        font-weight: bold;
        margin-top: 0px;
        font-size: 22px;
        padding-top: 10px;
    }

    .reservez {
        background-color: $quaternary;
        height: 230px;

        & p {
            text-align: center;
        }
    }

    h2 {
        margin-left: 25px;

        @media screen and (min-width:768px) {
            display: flex;
            justify-content: center;
            margin-left: 0px;
            ;

        }

    }

    .bouton {
        width: 240px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        border: 0px solid;
        font-size: 18px;
        margin-left: 65px;
        margin: auto;
        color: white;
        background: linear-gradient(0deg, rgba(162, 91, 221, 1) 0%, rgba(230, 113, 218, 1) 100%);
        box-shadow: 0px 3px 9px grey;
        cursor: pointer;
        opacity: 0.90;

        &:hover{
            opacity: 1;
            box-shadow: 0px 5px 11px grey;
        }
    }

    .menu {
        @media screen and (min-width:1024px) {
            display: flex;
            justify-content: center;

        }
    }

    .fonctionnement {
        width: auto;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-weight: bold;
        position: relative;
        z-index: 0;
        margin: 0px 20px 20px 30px;
        border-radius: 20px;
        background-color: $quaternary;

        &:hover {
            background-color: #F5EDFF;

            .fas {
                color: $primary;
            }
        }

        & p {
            margin-right: 60px;
            align-items: center;

            @media screen and (min-width:768px) {
                margin-right: 200px;
            }

            @media screen and (min-width:1024px) {
                margin-right: 100px;
            }
        }

        & .fas {
            margin-left: 20px;

            @media screen and (min-width:768px) {
                margin-left: 200px;
            }

            @media screen and (min-width:1024px) {
                margin-left: 100px;
                margin-right: 20px;
            }
        }
    }

    .number {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        position: absolute;
        z-index: 1;
        left: 0;
        transform: translateX(-50%);
        border-radius: 50%;
        background-color: $primary;


        & p {
            margin-right: 0px;
            margin-top: 1px;
            color: white;
            font-size: 14px;
        }

    }

    section {
        background-color: $quaternary;
        padding-top: 20px;

        & .groupe {

            @media screen and (min-width:1024px) {
                display: flex;
                flex-wrap: wrap;
                margin-left: 100px;
                margin-right: 100px;
                justify-content: center;


            }
        }
    }

    article {
        width: auto;
        height: 245px;
        margin: 0px 20px 20px 20px;
        border-radius: 20px;
        background-color: white;
        margin-top: 20px;
        box-shadow: 3px 3px 6px#DBDBDB;
        color: black;
        position: relative;

        @media screen and (min-width:1024px) {
            width: 530px;

        }

        & h3 {
            margin: 10px 0px 0px 20px;
            font-weight: bold;
        }

        & p {
            margin-left: 20px;
            margin-top: 0px;
            font-weight: normal;
        }

        img {
            width: 100%;
            height: 175px;
            display: flex;
            object-fit: cover;
            margin: auto;
            border-radius: 20px 20px 0 0;
        }

        .new {
            width: 30%;
            height: 40px;
            font-weight: bold;
            background-color: #99E2D0;
            position: absolute;
            right: 15px;
            margin-top: 20px;

            @media screen and (min-width:768px) {
                width: 25%;

            }

            &>p {
                display: flex;
                justify-content: center;
                font-weight: bold;
                color: rgb(59, 143, 111);
                margin-left: 0px;
                margin-top: 10px;
            }
        }


        .heart {
            display: flex;
            justify-content: space-between;
            margin-right: 30px;

            & .far {
                margin-top: 15px;
                font-size: 25px;
                border-radius: 50%;
                background-size: 50px;
                color: black;
                position: relative;
                
            }
            
            & .fas {
                
                position: absolute;
                right: 30px;
                margin-top: 15px;
                font-size: 25px;
                border-radius: 50%;
                background-size: 50px;
                opacity: 0;
                

                &:hover {
                   color:rgba(162, 91, 221, 1);
                   opacity: 1;
                }
            }

        }
    }


    footer {
        margin-top: 50px;
        background-color: #353535;
        color: white;

        & .bloc {
            margin-left: 20px;
            padding-bottom: 25px;

            @media screen and (min-width:768px) {
                display: flex;
                flex-direction: column;
                align-items: center;

            }
        }

        & h4 {
            font-family: 'Shrikhand', cursive;
            padding-top: 20px;

            @media screen and (min-width:768px) {
                font-size: 25px;
                padding-top: 0px;
            }
        }

        & ul {
            list-style-type: none;
            padding-left: 0px;

            & li {
                display: flex;
                line-height: 5px;

                @media screen and (min-width:768px) {
                    justify-content: center;

                }


                & .fas {
                    margin-right: 15px;
                    margin-top: 10px;

                }

            }

        }

    }

}