.home {
    header{
        display: grid;
    }
    .logo {
        text-align: center;

        img {
            width: 150px;
            margin-top: 20px;
        }

        @media screen and (min-width:1024px) {
            img {
                width: 500px
            }

        }
    }
    .recherche {
        justify-content: center;
        display: flex;
        width: 100%;
        background-color: #EAEAEA;
    }

    .fas.fa-map-marker-alt {
        padding-right: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    h1 {
        text-align: center;
        font-weight: bold;
        font-size: 22px;
    }

    .reservez {
        background-color: $quaternaire;
        height: 230px;

        & p {
            text-align: center;
        }
    }

    h2 {
        margin-left: 20px;
    }

    .bouton {
        display: block;
        width: 240px;
        height: 55px;
        border-radius: 30px;
        font-size: 18px;
        justify-content: center;
        margin-left: 60px;
        color: white;
        background-color: $primary;
    }

    .fonctionnement {
        display: flex;
        width: 90%;
        background-color: $quaternaire;
        border-radius: 20px;
        height: 70px;
        margin-bottom: 20px;
        margin-left: 20px;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        font-weight: bold;

        & p {
            margin-right: 60px;
        }
    }

    section {
        background-color: $quaternaire;
        padding-top: 20px;
    }

    article {
        border-radius: 20px;
        background-color: white;
        margin-top: 20px;
        box-shadow: 3px 3px 6px#DBDBDB;
        width: 95%;
        color: black;
        height: 265px;
        margin: auto;
        margin-bottom: 20px;

        & p {
            margin-top: 15px;
            margin-left: 20px;
            line-height: 5px;
            font-weight: bold;
        }

        & strong {
            margin-left: 20px;
            font-weight: normal;
        }

        img {
            display: flex;
            border-radius: 20px 20px 0 0;
            width: 100%;
            margin: auto;
            height: 200px;
            object-fit: cover;
        }
    }
    footer{
        background-color: #353535;
        color: white;
        margin-top: 50px;
        & .bloc{
        margin-left: 20px;
        }
        & h3{
            font-family: 'Shrikhand', cursive;
        }
    }



}