.home {
    header {
        display: grid;
    }

    .logo {
        text-align: center;

        img {
            width: 150px;
            margin-top: 20px;

            @media screen and (min-width:1024px) {
                width: 500px;
            }
        }

    }

    .recherche {
        width: 100%;
        justify-content: center;
        display: flex;
        background-color: #EAEAEA;
    }

    .fas.fa-map-marker-alt {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 20px;
    }

    h1 {
        text-align: center;
        font-weight: bold;
        font-size: 22px;
    }

    .reservez {
        background-color: $quaternary;
        height: 230px;

        & p {
            text-align: center;
        }
    }

    h2 {
        margin-left: 20px;
    }

    .bouton {
        width: 240px;
        height: 55px;
        display: block;
        justify-content: center;
        border-radius: 30px;
        font-size: 18px;
        margin-left: 60px;
        color: white;
        background: linear-gradient(0deg, rgba(162, 91, 221, 1) 0%, rgba(230, 113, 218, 1) 100%);
    }

    .fonctionnement {
        width: 88%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        font-weight: bold;
        position: relative;
        z-index: 0;
        margin-bottom: 20px;
        margin-left: 30px;
        border-radius: 20px;
        background-color: $quaternary;

        & p {
            margin-right: 60px;
            align-items: center;
        }

        & .fas {
            margin-left: 20px;
        }
    }

    .deguster {
        background-color: rgba(129, 42, 170, 0.1);

        & .fa-store {
            color: $primary;
        }


    }

    .number {
        width: 20px;
        height: 20px;
        position: absolute;
        z-index: 1;
        margin-top: 25px;
        margin-left: 22px;
        border-radius: 50%;
        background-color: $primary;


        & p {
            margin-right: 0px;
            margin-top: 0px;
            margin-left: 5px;
            color: white;
        }

    }

    section {
        background-color: $quaternary;
        padding-top: 20px;
    }

    article {
        width: 91%;
        height: 245px;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 20px;
        background-color: white;
        margin-top: 20px;
        box-shadow: 3px 3px 6px#DBDBDB;
        color: black;

        & p {
            margin-left: 20px;
            font-weight: bold;
            margin-bottom: 0px;
        }

        & strong {
            margin-left: 20px;
            font-weight: normal;
        }

        img {
            width: 100%;
            height: 175px;
            display: flex;
            object-fit: cover;
            margin: auto;
            border-radius: 20px 20px 0 0;
        }

        .new {
            width: 30%;
            height: 40px;
            font-weight: bold;
            background-color: #99E2D0;
            position: absolute;
            left: 230px;
            margin-top: 20px;

            &>p {
                display: flex;
                justify-content: center;
                color: rgb(59, 143, 111);
                margin-left: 0px;
                margin-top: 10px;
            }
        }


        .heart {
            display: flex;
            justify-content: space-between;
            margin-right: 30px;

            & .fa-heart {
                margin-top: 15px;
                font-size: 25px;
                border-radius: 50%;
                background-size: 50px;
            }

            & .fas {
                color: $primary;
            }
        }
    }


    footer {
        margin-top: 50px;
        background-color: #353535;
        color: white;

        & .bloc {
            margin-left: 20px;
            padding-bottom: 25px;
        }

        & h3 {
            font-family: 'Shrikhand', cursive;
            padding-top: 20px;
        }

        & ul {
            list-style-type: none;
            padding-left: 0px;

            & li {
                display: flex;
                
                & .fas{
                    margin-right: 15px;
                    margin-top: 20px;
                }

            }

        }

    }



}